/*
 * image.less
 *
 * Image properties should always be defined in image.less. This prevents
 * issues with conflicting properties. Comb this stylesheet before committing.
 *
 */

img {
  &.img-avatar {
    float: right;
    width: 164px;
    height: 164px;
    margin-top: 3px;
    border-radius: 20px;
    @media (max-width: 480px) {
      float: none;
      width: 130px;
      height: 130px;
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
  &.img-pointer {
    width: 15px;
    height: 15px;
    margin-left: 6px;
    @media (max-width: 767px) {
      display: none;
    }
  }
}
