/*
 * variables.less
 *
 * Variables are a way to centralize and share frequently used values, such as colors,
 * spacing, font stacks, line heights, and z-indexs. Here, you can modify, add, or
 * remove variables.
 *
 * DO NOT COMB THIS STYLESHEET!
 *
 */

/* =========================
   Colors
   ========================= */

@red:                     #f65a5b;
@red-hover:               darken(@red,6%);

@blue:                    #1b8ade;
@blue-hover:              darken(@blue,6%);

@green:                   #61ab63;
@green-hover:             darken(@green,6%);

@default-color:           @red;
@default-color-hover:     @red-hover;

@orange:                  #e9573f;
@grayish:                 #aac1bf;

/* =========================
   Grayscale
   ========================= */

@black:                   #000;

@gray10:                  rgba(0,0,0,.83);
@gray20:                  rgba(0,0,0,.71);
@gray30:                  rgba(0,0,0,.59);
@gray40:                  rgba(0,0,0,.44);
@gray50:                  rgba(0,0,0,.32);
@gray55:                  rgba(0,0,0,.24);
@gray60:                  rgba(0,0,0,.20);
@gray70:                  rgba(0,0,0,.13);
@gray75:                  rgba(0,0,0,.09);
@gray80:                  rgba(0,0,0,.05);
@gray90:                  rgba(0,0,0,.03);

@white:                   #fff;

/* =========================
   Backgrounds / Shadows
   ========================= */

@bg-arrow-color:          rgba(255,255,255,.2);
@bg-arrow-color-hover:    rgba(255,255,255,.3);
@box-shadow-color:        rgba(0,0,0,.15);

/* =========================
   Icons
   ========================= */

@icon-button-color:       @gray70;
@icon-progress-color:     @gray40;
// @icon-progress-color:     #7b858c;
@icon-tab-color:          rgba(215,218,219,.65);

/* =========================
   Overlays
   ========================= */

@overlay-color:           rgba(42,42,42,.55);
@overlay-color-lighten:   rgba(42,42,42,.6);
@overlay-color-darken:    rgba(42,42,42,.88);

/* =========================
   Font Family
   ========================= */

@font-family-sans:          "myriad-pro", "Lucida Grande", "Lucida Sans", Verdana, Geneva, sans-serif;
@font-family-sans-default:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
// @font-family-sans-default:  Helvetica, Arial, sans-serif;
@font-family-sans-neue:     "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:         "freight-text-pro", Georgia, "Times New Roman", serif;
@font-family-monospace:     "ff-avance-web-pro", Menlo, Consolas, monospace;

/* =========================
   Font Weight
   ========================= */

@font-weight-xxlight:     100;
@font-weight-xlight:      200;
@font-weight-light:       300;
@font-weight-normal:      400;
@font-weight-bold:        700;
@font-weight-xbold:       900;

/* =========================
   Line Height
   ========================= */

@line-height-xsmall:      1.1;
@line-height-small:       1.25;
@line-height-medium:      1.3333;
@line-height-normal:      1.4285;
@line-height-large:       1.5;
@line-height-xlarge:      1.6;

/* =========================
   Letter Spacing
   ========================= */

@letter-spacing-xsmall:   -.01em;
@letter-spacing-small:    -.02em;
@letter-spacing-medium:   -.03em;
@letter-spacing-large:    -.04em;
@letter-spacing-xlarge:   -.05em;

/* =========================
   Border Radius
   ========================= */

@border-radius-normal:    4px;
@border-radius-large:     5px;
@border-radius-xlarge:    50px;

/* =========================
   Z-Index
   ========================= */

@zindex10:                100;
@zindex20:                200;
@zindex30:                300;
@zindex40:                400;
@zindex50:                500;
@zindex60:                600;
@zindex70:                700;
@zindex80:                800;
@zindex90:                900;
@zindex1000:              1000;
@zindex1010:              1010;
@zindex1020:              1020;
@zindex1030:              1030;
@zindex1040:              1040;
@zindex1050:              1050;
@zindex1060:              1060;
@zindex1070:              1070;
@zindex1080:              1080;
@zindex1090:              1090;
@zindex1100:              1100;
@zindex1200:              1200;
