/*******************************************
VIEWPORTS
*******************************************/
@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/*******************************************
BODY
*******************************************/
body {
  font-size: 15px;
  font-weight: 400;
  color: #102429;
  background: #f1f2f3;
}

p {
  margin-bottom: 12px;
}

ul {
  padding-left: 30px;
}

/*******************************************
CONTAINER
*******************************************/
.container {
  margin-top: 80px;
  margin-bottom: 15px;
  background: #ffffff;
}

/*******************************************
HERO
*******************************************/
.hero {
  margin-top: -75px;
}

.hero .avatar {
  display: inline-block;
  width: 160px;
  height: 160px;
  padding: 5px;
  overflow: hidden;
  background: #f1f2f3;
  border-radius: 50%;
}

.hero .avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.hero .site-heading h1 {
  padding: 0;
  margin: 0;
  font-size: 34px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -.03em;
  color: #3498db;
  text-transform: uppercase;
}

.hero .site-heading span {
  font-size: 30px;
  font-weight: 400;
  color: #102429;
  text-transform: none;
}

.hero .site-heading:after {
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 15px;
  content: "";
  background: url(../img/line.png);
}

/*******************************************
WRAPPER
*******************************************/
.wrapper {
  margin-bottom: 15px;
}

.wrapper h2 {
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: .85;
}

.wrapper h2:before {
  margin-right: 5px;
}

/*******************************************
EDUCATION
*******************************************/
.education {
  position: relative;
  padding: 10px 0;
  margin-top: 20px;
  list-style: none;
}

.education:before {
  position: absolute;
  top: 0;
  left: 25px;
  display: block;
  width: 5px;
  height: 100%;
  content: " ";
  background: #ec7263;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(7%,#ec7263), color-stop(89%,#ec7263), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ec7263 7%, #ec7263 89%, #ffffff 100%);
  background:    -moz-linear-gradient(top, #ffffff 0%, #ec7263 7%, #ec7263 89%, #ffffff 100%);
  background:     -ms-linear-gradient(top, #ffffff 0%, #ec7263 7%, #ec7263 89%, #ffffff 100%);
  background:      -o-linear-gradient(top, #ffffff 0%, #ec7263 7%, #ec7263 89%, #ffffff 100%);
  background:         linear-gradient(to bottom, #ffffff 0%, #ec7263 7%, #ec7263 89%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=0 );
}

.education li {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
}

.education .year {
  display: inline-block;
  width: 10%;
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  background: #ffffff;
}

.education .description {
  position: relative;
  display: inline-block;
  width: 80%;
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  background: #f1f2f3;
  border-bottom: 1px solid #dbddde;
}

.education .description:after {
  position: absolute;
  top: 15px;
  right: 0;
  left: -16px;
  width: 0;
  height: 0;
  pointer-events: none;
  content: "";
  border: solid transparent;
  border-width: 8px;
  border-right-color: #f1f2f3;
}

.education .description h3 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.education .description p {
  padding: 0;
  margin-top: 7px;
  font-size: 13.5px;
}

/*******************************************
CERTIFICATIONS
*******************************************/
.certification {
  position: relative;
  padding: 10px 0;
  margin-top: 20px;
  list-style: none;
}

.certification:before {
  position: absolute;
  top: 0;
  left: 25px;
  display: block;
  width: 5px;
  height: 100%;
  content: " ";
  background: #ec7263;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(7%,#ec7263), color-stop(89%,#ec7263), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ec7263 7%, #ec7263 89%, #ffffff 100%);
  background:    -moz-linear-gradient(top, #ffffff 0%, #ec7263 7%, #ec7263 89%, #ffffff 100%);
  background:     -ms-linear-gradient(top, #ffffff 0%, #ec7263 7%, #ec7263 89%, #ffffff 100%);
  background:      -o-linear-gradient(top, #ffffff 0%, #ec7263 7%, #ec7263 89%, #ffffff 100%);
  background:         linear-gradient(to bottom, #ffffff 0%, #ec7263 7%, #ec7263 89%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=0 );
}

.certification li {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
}

.certification .year {
  display: inline-block;
  width: 10%;
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  background: #ffffff;
}

.certification .year-hidden {
  width: initial;
}

.certification .description-open {
  position: relative;
  display: inline-block;
  width: 80%;
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  background: #f1f2f3;
  border-bottom: 1px solid #dbddde;
}

.certification .description-open:after {
  position: absolute;
  top: 15px;
  right: 0;
  left: -16px;
  width: 0;
  height: 0;
  pointer-events: none;
  content: "";
  border: solid transparent;
  border-width: 8px;
  border-right-color: #f1f2f3;
}

.certification .description-open h3 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
}

.certification .description-closed {
  position: relative;
  display: inline-block;
  width: 80%;
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  background: #f1f2f3;
  border-bottom: 1px solid #dbddde;
}

.certification .description-closed:after {
  position: absolute;
  top: 15px;
  right: 0;
  left: -16px;
  width: 0;
  height: 0;
  pointer-events: none;
  content: "";
  border: solid transparent;
  border-width: 8px;
  border-right-color: transparent;
}

.certification .description-closed h3 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
}

/*******************************************
EXPERIENCE
*******************************************/
.experience {
  margin-bottom: 20px;
}

.experience .location {
  padding-top: 1px;
  font-size: 16px;
  opacity: .9;
}

.experience .year {
  padding-top: 1px;
  font-size: 15px;
  opacity: .5;
}

.experience .profession {
  font-size: 18px;
  font-weight: 700;
}

.experience .description {
  font-size: 15px;
}

/*******************************************
CONTACT
*******************************************/
.contact-item {
  float: left;
  width: 100%;
}

.contact-item .icon {
  padding: 9px 8px 7px 6px;
  border-right: 1px solid #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
  opacity: .25;
}

.contact-item:last-child .icon {
  border-bottom: none;
}

.contact-item .fa {
  font-size: 20px;
}

.contact-item .title {
  width: 80%;
  width: calc(100% - 55px);
  padding-top: 1px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  opacity: .9;
}

.contact-item .title a {
  color: #102429;
  opacity: .9;
}

.contact-item .title.only {
  margin-top: 10px;
}

.contact-item .title.stacked {
  padding-top: 4px;
  line-height: 1;
}

.contact-item .description {
  width: 80%;
  width: calc(100% - 55px);
  font-size: 12.5px;
  opacity: .7;
}

.contact-item .description a {
  color: #102429;
  opacity: .7;
}

/*******************************************
SKILLS
*******************************************/
.item-skills {
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 5px;
  overflow: hidden;
  font-size: 13.5px;
  font-weight: 600;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #3498db;
}

.skills-legend {
  margin-top: 20px;
  opacity: .8;
}

.skills-legend:before {
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: -13px;
  content: " ";
  background: #bdc3c7;
}

.skills-legend div {
  display: inline-block;
  float: left;
  width: 25%;
  font-size: 12px;
  color: #9197a3;
}

.legend:before {
  position: relative;
  display: block;
  width: 3px;
  height: 10px;
  margin: auto;
  margin-bottom: 15px;
  content: " ";
  background: #bdc3c7;
}

.legend-left.legend:before {
  margin-left: 0;
}

.legend-right.legend:before {
  margin-right: 0;
}

.legend-left:nth-child(2) span {
  margin-left: -25px;
}

.legend-right:nth-child(3) span {
  margin-right: -20px;
}

.legend-right {
  text-align: right;
}

/*******************************************
INDUSTRY
*******************************************/
.industry-knowledge .industry {
  padding-bottom: 10px;
  margin: 10px 0;
  font-size: 13.5px;
  border-bottom: 1px solid #f1f2f3;
}

.industry-knowledge .industry .icons {
  width: 111px;
  height: 14px;
  background: url(../img/star-grey.png) no-repeat;
}

.industry-knowledge .industry .icons-red {
  background: url(../img/star-red.png) no-repeat;
}

/*******************************************
WORKS
*******************************************/
.works {
  position: relative;
  display: inline-block;
  padding: 5px 5px 5px 25px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  color: #ffffff;
  background: #a75265;
}

.works:before {
  position: absolute;
  top: 6px;
  left: 7px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\f004";
}

/*******************************************
MEDIA
*******************************************/
@media (min-width: 500px) {
  .education .description {
    width: 85%;
  }
  .certification .description-open,
  .certification .description-closed {
    width: 81%;
  }
}

@media (min-width: 768px) {
  .education .description {
    width: 85%;
  }
  .certification .description-open,
  .certification .description-closed {
    width: 81%;
  }
}

@media (min-width: 992px) {
  .education .description {
    width: 87%;
  }
  .certification .description-open,
  .certification .description-closed {
    width: 83%;
  }
}

@media (min-width: 1200px) {
  .education .description {
    width: 90%;
  }
  .certification .description-open,
  .certification .description-closed {
    width: 86%;
  }
}