{% include modals/resume.html %} <!-- liquid tag insert -->
<section class="u-section--darken" id="about">
  <div id="section2"></div>
  <div class="container">
    <div class="col1-1 u-text--center">
      <h2>About</h2>
    </div>
    <div class="col1-1">
      <p class="lead"><q>The winning army realizes the conditions for victory first, then fights. The losing army fights first, then seeks victory.</q></p>
    </div>
  </div>
  {% include sections/gallery.html %} <!-- liquid tag insert -->
  <div class="container">
    <div class="u-text--break"></div>
    <div class="col1-3">
      <h3>Profile</h3>
      <p>Name: {{site.title}}<br>
         Location: {{site.data.location.dfw}}<br>
         Citizenship: United States<br>
         Language: English
      </p>
      <p><a class="button button-color--default" data-toggle="modal" data-target="#resume"><i class="fa fa-file-text fa-fw"></i> Resume&nbsp;</a></p>
      <p><a class="button button-color--default" data-toggle="modal" data-target="#contact"><i class="fa fa-phone fa-fw"></i> Contact&nbsp;</a></p>
      <br>
      <br>
    </div>
    <div class="col2-3">
      <h3>Summary</h3>
      <p>Forward-thinking technologist who blends strategic vision with practical execution to deliver high-tech products and solutions. Distinct ability to translate insights into compelling strategies that drive growth and ensure client success.</p>
      <p>Recognized for identifying emerging trends, implementing new market initiatives, and driving go-to-market tactics. Functional experience spanning all disciplines, from ideation and development to marketing and optimization. Skilled at delivering product and marketing capabilities including Strategy, Planning, Go-to-Market, Competitive, Roadmaps, Definition, Market Research, Propositions, Pricing, and Requirements.</p>
    </div>
  </div>
</section>
