<section id="education">
  <div id="section5"></div>
  <div class="container">
    <div class="col1-1 u-text--center">
      <h2>Education</h2>
    </div>
    <div class="col1-1">
      <p class="lead"><q>Knowledge is knowing that a tomato is a fruit. Wisdom is not putting it in a fruit salad.</q></p>
    </div>
    <div class="col1-1">
      <div class="tab-accordion">
        <div class="tab">
          <div class="tab-date"><span>Sep</span> 2015 - PRESENT</div>
          <div class="tab-content">
            <h3>Information Technology</h3>
            <h4 class="u-text--gray">{{site.data.names.liberty}} <span class="tab-content--member"> Student #{{site.data.membership.liberty}}</span></h4>
          </div>
        </div>
        <div class="tab">
          <div class="tab-date"><span>Aug</span> 2009 - <span>Sep</span> 2011</div>
          <div class="tab-content">
            <h3>Management Information Systems</h3>
            <h4 class="u-text--gray">{{site.data.names.liberty}} <span class="tab-content--member"> Student #{{site.data.membership.liberty}}</span></h4>
          </div>
        </div>
        <div class="tab">
          <div class="tab-date"><span>Dec</span> 2011 - Present</div>
          <div class="tab-content">
            <h3>Practical Product Management Certified</h3>
            <h4 class="u-text--gray">{{site.data.names.pragmatic}}</h4>
          </div>
        </div>
        <div class="tab">
          <div class="tab-date"><span>Jul</span> 2011 - Present</div>
          <div class="tab-content">
            <h3>Certified Scrum Product Owner <a href="//www.scrumalliance.org/certifications/practitioners/cspo-certification" target="_blank"><img class="img-pointer" src="{{page.baseurl}}assets/img/arrow-link-gray.png"></a></h3>
            <h4 class="u-text--gray">{{site.data.names.scrum}} <span class="tab-content--member"> Member #{{site.data.membership.scrum}}</span></h4>
          </div>
        </div>
        <div class="tab">
          <div class="tab-date"><span>Jan</span> 2011 - Present</div>
          <div class="tab-content">
            <h3>Project Management Professional <a href="//www.pmi.org/certification/project-management-professional-pmp.aspx" target="_blank"><img class="img-pointer" src="{{page.baseurl}}assets/img/arrow-link-gray.png"></a></h3>
            <h4 class="u-text--gray">{{site.data.names.pmi}} <span class="tab-content--member"> Member #{{site.data.membership.pmp}}</span></h4>
          </div>
        </div>
        <div class="tab">
          <div class="tab-date"><span>Oct</span> 2010 - Present</div>
          <div class="tab-content">
            <h3>Certified ScrumMaster <a href="//www.scrumalliance.org/certifications/practitioners/certified-scrummaster-csm" target="_blank"><img class="img-pointer" src="{{page.baseurl}}assets/img/arrow-link-gray.png"></a></h3>
            <h4 class="u-text--gray">{{site.data.names.scrum}} <span class="tab-content--member"> Member #{{site.data.membership.scrum}}</span></h4>
          </div>
        </div>
        <div class="tab">
          <div class="tab-date"><span>Sep</span> 2011 - Present</div>
          <div class="tab-content">
            <h3>Certified Scrum Professional <a href="//www.scrumalliance.org/certifications/practitioners/csp-certification" target="_blank"><img class="img-pointer" src="{{page.baseurl}}assets/img/arrow-link-gray.png"></a></h3>
            <h4 class="u-text--gray">{{site.data.names.scrum}} <span class="tab-content--member"> Member #{{site.data.membership.scrum}}</span></h4>
          </div>
        </div>
        <div class="tab">
          <div class="tab-date"><span>Jun</span> 2007 - Present</div>
          <div class="tab-content">
            <h3>Network+ Certified <a href="//certification.comptia.org/certifications/network" target="_blank"><img class="img-pointer" src="{{page.baseurl}}assets/img/arrow-link-gray.png"></a></h3>
            <h4 class="u-text--gray">{{site.data.names.comptia}} <span class="tab-content--member"> Member #{{site.data.membership.comptia}}</span></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="section-anchored"></div>
  </div>
</section>
