<section id="education">
  <div id="anchor5"></div>
  <div class="container">
    <div class="col1-1 u-text-center">
      <h3>Education</h3>
    </div>
    <div class="col1-1">
      <p class="lead">
        <q>Knowledge is knowing that a tomato is a fruit. Wisdom is not putting it in a fruit salad.</q> &mdash; Miles Kingston
      </p>
    </div>
    <div class="col1-1">
      <div class="tab-accordion">
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Sep</span> 2015 - PRESENT</div>
          <div class="tab-content">
            <h4>Information Technology</h4>
            <h5>Liberty University Online <span class="tab-content-membership"> Student #{{site.data.membership.liberty}}</span></h5>
            <div class="tab-collapsed">
              <p>Gaining knowledge in the fields of digital imaging, graphic design, programming, and enterprise technology. Studies include security, web and software development, integration, networking, and design.</p>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Aug</span> 2009 - <span>Sep</span> 2011</div>
          <div class="tab-content">
            <h4>Management Information Systems</h4>
            <h5>Liberty University Online <span class="tab-content-membership"> Student #{{site.data.membership.liberty}}</span></h5>
            <div class="tab-collapsed">
              <p>Delved into the core foundations of technology, business application software, current programming languages, and the management of developmental cycles in business environments.</p>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Dec</span> 2011 - Present</div>
          <div class="tab-content">
            <h4>Practical Product Management Certified</h4>
            <h5>Pragmatic Marketing</h5>
            <div class="tab-collapsed">
              <p>Certified in the principles of Practical Product Management, including how to utilize the Pragmatic Marketing Framework as a standard language for product teams and the key activities necessary to bring profitable, problem-oriented products to market. Other completed courses include "Product Roadmapping" and "Requirements That Work".</p>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Jan</span> 2011 - Present</div>
          <div class="tab-content">
            <h4>Project Management Professional <a href="//www.pmi.org/certification/project-management-professional-pmp.aspx" target="_blank"><img class="img-arrow" src="{{page.baseurl}}public/img/arrow-right-grey2.png"></a></h4>
            <h5>Project Management Institute <span class="tab-content-membership"> Member #{{site.data.membership.pmp}}</span></h5>
            <div class="tab-collapsed">
              <p>Successfully completed the most industry-recognized certification for project managers. Signifies I speak and understand the global language of project management. Adaptable to working in virtually any industry, with any methodology, and any location.</p>
              <p><a href="{{page.baseurl}}public/docs/Michael-ORourke-PMP.pdf" target="_blank">View Certificate <i class="fa fa-external-link"></i></a></p>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Jul</span> 2011 - Present</div>
          <div class="tab-content">
            <h4>Certified Scrum Product Owner <a href="//www.scrumalliance.org/certifications/practitioners/cspo-certification" target="_blank"><img class="img-arrow" src="{{page.baseurl}}public/img/arrow-right-grey2.png"></a></h4>
            <h5>Scrum Alliance <span class="tab-content-membership"> Member #{{site.data.membership.scrum}}</span></h5>
            <div class="tab-collapsed">
              <p>Certified in Scrum practices and principles, enabling me to fulfill the role of Product Owner on any Scrum team. Well-versed in managing the business-side of projects, getting the product out, and doing the best possible job of satisfying all the stakeholders. Includes techniques for maintaining the product backlog and ensuring everyone knows the priorities.</p>
              <p><a href="{{page.baseurl}}public/docs/Michael-ORourke-CSPO.pdf" target="_blank">View Certificate <i class="fa fa-external-link"></i></a></p>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Sep</span> 2011 - Present</div>
          <div class="tab-content">
            <h4>Certified Scrum Professional <a href="//www.scrumalliance.org/certifications/practitioners/csp-certification" target="_blank"><img class="img-arrow" src="{{page.baseurl}}public/img/arrow-right-grey2.png"></a></h4>
            <h5>Scrum Alliance <span class="tab-content-membership"> Member #{{site.data.membership.scrum}}</span></h5>
            <div class="tab-collapsed">
              <p>Successfully demonstrated experience, training, and proven knowledge in the art of Scrum. Expert in improving how Scrum and other Agile methods are implemented for any type of project.</p>
              <p><a href="{{page.baseurl}}public/docs/Michael-ORourke-CSP.pdf" target="_blank">View Certificate <i class="fa fa-external-link"></i></a></p>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Oct</span> 2010 - Present</div>
          <div class="tab-content">
            <h4>Certified ScrumMaster <a href="//www.scrumalliance.org/certifications/practitioners/certified-scrummaster-csm" target="_blank"><img class="img-arrow" src="{{page.baseurl}}public/img/arrow-right-grey2.png"></a></h4>
            <h5>Scrum Alliance <span class="tab-content-membership"> Member #{{site.data.membership.scrum}}</span></h5>
            <div class="tab-collapsed">
              <p>Aquired skills to help project teams properly use Scrum, thereby increasing the likelihood of any project's overall success. Firmly understand Scrum values, practices, applications, and attained a level of knowledge and expertise above and beyond typical project managers.</p>
              <p><a href="{{page.baseurl}}public/docs/Michael-ORourke-CSM.pdf" target="_blank">View Certificate <i class="fa fa-external-link"></i></a><br></p>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Aug</span> 2012 - Present</div>
          <div class="tab-content">
            <h4>Cloud Computing Certified</h4>
            <h5>Cloud University</h5>
            <div class="tab-collapsed">
              <p>Completed Cloud University's vendor-neutral certification, thereby demonstrating my knowledge in the foundations of Cloud Computing from both a business and technical standpoint.</p>
              <p><a href="{{page.baseurl}}public/docs/Michael-ORourke-CloudU.pdf" target="_blank">View Certificate <i class="fa fa-external-link"></i></a></p>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Jul</span> 2007 - Present</div>
          <div class="tab-content">
            <h4>Network+ Certified <a href="//certification.comptia.org/certifications/network" target="_blank"><img class="img-arrow" src="{{page.baseurl}}public/img/arrow-right-grey2.png"></a></h4>
            <h5>CompTIA <span class="tab-content-membership"> Member #{{site.data.membership.comptia}}</span></h5>
            <div class="tab-collapsed">
              <p>Completed CompTIA's ISO-17024 compliant, vendor-neutral technology certification. Verifies I have the necessary skills and knowledge to take on a pivotal role in building, managing, and protecting critical assets of a data network.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="anchor-section"></div>
  </div>
</section>
