<section id="education">
  <div id="anchor5"></div>
  <div class="container">
    <div class="col1-1 u-text-center">
      <h3>Education</h3>
    </div>
    <div class="col1-1">
      <p class="lead"><q>Knowledge is knowing that a tomato is a fruit. Wisdom is not putting it in a fruit salad.</q></p>
    </div>
    <div class="col1-1">
      <div class="tab-accordion">
        <div class="tab">
          <div class="tab-date"><span>Sep</span> 2015 - PRESENT</div>
          <div class="tab-content">
            <h4>Information Technology</h4>
            <h5>Liberty University <span class="tab-content--member"> Student #{{site.data.membership.liberty}}</span></h5>
          </div>
        </div>
        <div class="tab">
          <div class="tab-date"><span>Aug</span> 2009 - <span>Sep</span> 2011</div>
          <div class="tab-content">
            <h4>Management Information Systems</h4>
            <h5>Liberty University <span class="tab-content--member"> Student #{{site.data.membership.liberty}}</span></h5>
          </div>
        </div>
        <div class="tab">
          <div class="tab-date"><span>Dec</span> 2011 - Present</div>
          <div class="tab-content">
            <h4>Practical Product Management Certified</h4>
            <h5>Pragmatic Marketing</h5>
          </div>
        </div>
        <div class="tab">
          <div class="tab-date"><span>Jul</span> 2011 - Present</div>
          <div class="tab-content">
            <h4>Certified Scrum Product Owner <a href="//www.scrumalliance.org/certifications/practitioners/cspo-certification" target="_blank"><img class="imgPointer" src="{{page.baseurl}}public/img/arrow-right-grey.png"></a></h4>
            <h5>Scrum Alliance <span class="tab-content--member"> Member #{{site.data.membership.scrum}}</span></h5>
          </div>
        </div>
        <div class="tab">
          <div class="tab-date"><span>Jan</span> 2011 - Present</div>
          <div class="tab-content">
            <h4>Project Management Professional <a href="//www.pmi.org/certification/project-management-professional-pmp.aspx" target="_blank"><img class="imgPointer" src="{{page.baseurl}}public/img/arrow-right-grey.png"></a></h4>
            <h5>Project Management Institute <span class="tab-content--member"> Member #{{site.data.membership.pmp}}</span></h5>
          </div>
        </div>
        <div class="tab">
          <div class="tab-date"><span>Oct</span> 2010 - Present</div>
          <div class="tab-content">
            <h4>Certified ScrumMaster <a href="//www.scrumalliance.org/certifications/practitioners/certified-scrummaster-csm" target="_blank"><img class="imgPointer" src="{{page.baseurl}}public/img/arrow-right-grey.png"></a></h4>
            <h5>Scrum Alliance <span class="tab-content--member"> Member #{{site.data.membership.scrum}}</span></h5>
          </div>
        </div>
        <div class="tab">
          <div class="tab-date"><span>Sep</span> 2011 - Present</div>
          <div class="tab-content">
            <h4>Certified Scrum Professional <a href="//www.scrumalliance.org/certifications/practitioners/csp-certification" target="_blank"><img class="imgPointer" src="{{page.baseurl}}public/img/arrow-right-grey.png"></a></h4>
            <h5>Scrum Alliance <span class="tab-content--member"> Member #{{site.data.membership.scrum}}</span></h5>
          </div>
        </div>
        <div class="tab">
          <div class="tab-date"><span>Jul</span> 2007 - Present</div>
          <div class="tab-content">
            <h4>Network+ Certified <a href="//certification.comptia.org/certifications/network" target="_blank"><img class="imgPointer" src="{{page.baseurl}}public/img/arrow-right-grey.png"></a></h4>
            <h5>CompTIA <span class="tab-content--member"> Member #{{site.data.membership.comptia}}</span></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="anchor-section"></div>
  </div>
</section>
