<section class="u-border-removed" id="experience">
  <div id="anchor3"></div>
  <div class="container">
    <div class="col1-1 u-text-center">
      <h3>Experience</h3>
    </div>
    <div class="col1-1">
      <p class="lead">
        <q>Good judgment comes from experience, and experience comes from bad judgment.</q> &mdash; Rita Mae Smith
      </p>
    </div>
    <div class="col1-1">
      <div class="tab-accordion">
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Sep</span> 2012 - Present</div>
          <div class="tab-content">
            <h4>Product Portfolio Manager <a href="//www.ibm.com/cloud-computing/solutions" target="_blank"><img class="img-arrow" src="{{page.baseurl}}public/img/arrow-right-grey.png"></a></h4>
            <h5>IBM Cloud <span class="tab-content-location"> {{site.data.location.dallas}}</span></h5>
            <div class="tab-collapsed">
              <p>Pivot product initiatives and market strategies toward developing a growing cloud computing platform. Responsible for building and launching new cloud solutions in global marketplaces. Report directly to the Chief Technology Officer.</p>
              <ul class="list-style-disc">
                <li>Establish new vertical products in Bluemix, SoftLayer, and IBM Marketplace catalogs</li>
                <li>Craft business cases, proofs-of-concept, and requirements for dev consumption</li>
                <li>Enact strategies to reach untapped markets and new growth opportunities</li>
                <li>Capture market demands and architect plans to ensure “whole product” success</li>
                <li>Align technology roadmaps and P&amp;L to drive organic growth and achieve business objectives</li>
                <li>Work directly with developers, designers, and customers to transform user/buyer needs into empathic feature-sets</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Jul</span> 2003 - <span>Aug</span> 2012</div>
          <div class="tab-content">
            <h4>Senior Product Manager <a href="//www.neopost.com/en/digital-solutions" target="_blank"><img class="img-arrow" src="{{page.baseurl}}public/img/arrow-right-grey.png"></a></h4>
            <h5>Neopost ID <span class="tab-content-location"> {{site.data.location.austin}}</span></h5>
            <div class="tab-collapsed">
              <p>Cultivated pipelines to new markets and designed product offerings for new online solutions and native apps. Responsible for customer-facing SaaS, on-premise, and digital products. Reported to Director of Product Management.</p>
              <ul class="list-style-disc">
                <li>Reached new markets by transitioning native products to hosted ecosystems</li>
                <li>Facilitated technology refresh programs to eliminate churn and increase revenue flow</li>
                <li>Adopted new Agile and Product Portfolio practices, reducing time-to-market by 40%</li>
                <li>Managed $25M project to transform line-of-business apps into a hosted CRM environment</li>
                <li>Launched storefront for purchasing Internet-enabled apps on smart devices, increasing attachment rates 30-32% each quarter</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Nov</span> 2000 - <span>Dec</span> 2002</div>
          <div class="tab-content">
            <h4>Technical Consultant <a href="//sprint.com" target="_blank"><img class="img-arrow" src="{{page.baseurl}}public/img/arrow-right-grey.png"></a></h4>
            <h5>Sprint Nextel <span class="tab-content-location"> {{site.data.location.plano}}</span></h5>
            <div class="tab-collapsed">
              <p>Spearheaded retail launches for mobile products and provided operational support for system hardware, networks, and back-office systems.</p>
              <ul class="list-style-disc">
                <li>Ushered in technology induction programs for ION broadband, 3G, and new mobile devices</li>
                <li>Coordinated new firmware builds, onsite implementations, and system updates during planned/unplanned maintenance windows</li>
                <li>Gathered quantitative data to report failures and serviceability issues</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
