<section class="u-border--removed" id="experience" role="main">
  <div id="section3"></div>
  <div class="container">
    <div class="col1-1 u-text--center">
      <h2>Experience</h2>
    </div>
    <div class="col1-1">
      <p class="lead"><q>Good judgment comes from experience, and experience comes from bad judgment.</q></p>
    </div>
    <div class="col1-1">
      <div class="tab-accordion">
        <div class="tab is-closed">
          <div class="tab-down"></div>
          <div class="tab-date"><span>Jun</span> 2016 - PRESENT</div>
          <div class="tab-content">
            <h3>Product Manager <a href="//www.microfocus.com/#" target="_blank"><img class="img-pointer" src="{{page.baseurl}}assets/img/arrow-link-gray.png"></a></h3>
            <h4 class="u-text--gray">{{site.data.names.hp}}<span class="tab-content--location"> {{site.data.location.plano}}</span></h4>
            <div class="tab-collapsed">
              <p>Directed a market leading product with over 8k users worldwide.</p>
              <ul class="list--disc">
                <li>Managed a global force of engineers spread across China, Israel, Vietnam, and Ukraine, providing detailed strategic direction and prioritization while working in an Agile lifecycle to maximize content delivery velocity.</li>
                <li>Conducted competitive analysis, market research and customer requests prioritization to shape HPE portfolio and solution strategy.</li>
                <li>Improved customer engagement and satisfaction while reducing customer churn by running a Customer Advisory Board, Reference and Beta Programs, and Quarterly Customer Tours.</li>
                <li>Provided close deal support and sales enablement around the product roadmap, giving our sales team a competitive advantage in product positioning and converting new leads.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-down"></div>
          <div class="tab-date"><span>Oct</span> 2014 - <span>Jun</span> 2016</div>
          <div class="tab-content">
            <h3>Product Portfolio Manager <a href="//www.ibm.com/cloud-computing/solutions" target="_blank"><img class="img-pointer" src="{{page.baseurl}}assets/img/arrow-link-gray.png"></a></h3>
            <h4 class="u-text--gray">{{site.data.names.softlayer}}<span class="tab-content--location"> {{site.data.location.dallas}}</span></h4>
            <div class="tab-collapsed">
              <p>Drove new product creation from ideation to adoption for sophisticated cloud ecosystems and services. Outlined marketing investments against key competitors, steered courses for technology initiatives, and delivered product offerings to market.</p>
              <ul class="list--disc">
                <li>Strategically drove $234M in annual sales for multiple cloud products in vertical marketplaces with projected +17% revenue growth.</li>
                <li>Presided over five products teams to design, develop, and implement OpenStack's cloud platform, increasing adoption rate by 36%; positioned to compete against Amazon, Google and Microsoft.</li>
                <li>Constructed and launched new Identity, Security, and Microservices portfolios in Bluemix and IBM Marketplace; capitalized on market opportunities to stimulate adoption of PaaS and hybrid cloud services.</li>
                <li>Identified growth opportunities and key trend must-haves for an evolving microservices architecture, forecasted to attain $40M+ in new revenue.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-down"></div>
          <div class="tab-date"><span>Sep</span> 2012 - <span>Oct</span> 2014</div>
          <div class="tab-content">
            <h3>Product Manager <a href="//www.ibm.com/cloud-computing/solutions" target="_blank"><img class="img-pointer" src="{{page.baseurl}}assets/img/arrow-link-gray.png"></a></h3>
            <h4 class="u-text--gray">{{site.data.names.softlayer}}<span class="tab-content--location"> {{site.data.location.dallas}}</span></h4>
            <div class="tab-collapsed">
              <p>Developed product initiatives and design strategies for an innovative cloud infrastructure. Managed the collection and definition of candidate feature-functions, concept designs, priorities, and requirements across core teams.</p>
              <ul class="list--disc">
                <li>Designed and launched new IaaS and public cloud services in SoftLayer marketplaces, generating double digit growth over two consecutive years.</li>
                <li>Acquired new strategic business partners to extend software-defined and content delivery networking offerings, producing $20M net new revenue in first year.</li>
                <li>Rebuilt entire product portfolio to rival new competitors; included pricing, cataloging, mapping, and on-boarding.</li>
                <li>Spearheaded initiatives to sunset low margin products, reducing operating expenses by 26%.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-down"></div>
          <div class="tab-date"><span>Dec</span> 2007 - <span>Aug</span> 2012</div>
          <div class="tab-content">
            <h3>Senior Product Manager <a href="//www.neopost.com/en/digital-solutions" target="_blank"><img class="img-pointer" src="{{page.baseurl}}assets/img/arrow-link-gray.png"></a></h3>
            <h4 class="u-text--gray">{{site.data.names.neopost}}<span class="tab-content--location"> {{site.data.location.austin}}</span></h4>
            <div class="tab-collapsed">
              <p>Cultivated pipelines to new digital, e-commerce, and cloud-based markets. Researched market needs, designed product offerings, and drove the product vision, value proposition, messaging, and go-to-market planning for customer-facing products.</p>
              <ul class="list--disc">
                <li>Introduced new SaaS product lines and technology refresh programs, netting double-digit growth and reducing customer churn YOY.</li>
                <li>Regained market traction and increased attachment rates 30% by offering resellers portals to promote and procure products.</li>
                <li>Initiated turn-round strategy and revenue growth plan requiring recalibration of entire product line; encompassed new feature-sets, closing market gaps, rebranding, and launching as new products.</li>
                <li>Accelerated time-to-market 40% by implementing new Agile and product portfolio practices; streamlined workloads, improved quality, and formalized product lifecycles.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-down"></div>
          <div class="tab-date"><span>Jul</span> 2003 - <span>Nov</span> 2007</div>
          <div class="tab-content">
            <h3>Technical Product Manager <a href="//www.neopost.com/en/digital-solutions" target="_blank"><img class="img-pointer" src="{{page.baseurl}}assets/img/arrow-link-gray.png"></a></h3>
            <h4 class="u-text--gray">{{site.data.names.neopost}}<span class="tab-content--location"> {{site.data.location.dallas}}</span></h4>
            <div class="tab-collapsed">
              <p>Orchestrated software releases, implementations, and launch efforts. Served as the technical interface between Software Development, Quality Assurance, and Release Management.</p>
              <ul class="list--disc">
                <li>Ushered in technology induction programs for on-premise software products and integration tools; enacted initiatives to standardize code releases, slashing production cost by $2.1M.</li>
                <li>Managed $25M budget to transition four Competency Centers onto shared services platform.</li>
                <li>Developed analytic tools to leverage customer insights and refine business plans and strategies.</li>
                <li>Implemented custom $100K+ software solutions for Fortune 500 clients.</li>
              </ul>
            </div>
          </div>
        </div>
  <!-- <div class="tab is-closed">
          <div class="tab-down"></div>
          <div class="tab-date"><span>Nov</span> 2000 - <span>Dec</span> 2002</div>
          <div class="tab-content">
            <h3>Technical Consultant <a href="//sprint.com" target="_blank"><img class="img-pointer" src="{{page.baseurl}}assets/img/arrow-link-gray.png"></a></h3>
            <h4 class="u-text--gray">{{site.data.names.sprint}}<span class="tab-content--location"> {{site.data.location.plano}}</span></h4>
            <div class="tab-collapsed">
              <p>Spearheaded retail launches for mobile products and provided operational support for system hardware, networks, and back-office systems.</p>
              <ul class="list--disc">
                <li>Analyzed routine and non-routine problems with wireless hardware, mobile devices, software applications, and network performance.</li>
                <li>Logged recurring issues and escalated service tickets to product development.</li>
                <li>Identified root causes and recommend corrective actions.</li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
