<div class="gallery desktop-col1-3 tablet-col1-3 mobile-col1-1">
  <figure class="gallery-item gallery-item--hero">
    <img src="{{page.baseurl}}assets/img/bg-gallery-left.jpg">
    <figcaption class="gallery-item--text gallery-item--purple">
      <div class="gallery-item--headline">
        <strong>Product Management</strong>
        <p>Strategy, Technical, Marketing, Analysis</p>
      </div>
    </figcaption>
  </figure>
  <figure class="gallery-item gallery-item--hero">
    <img src="{{page.baseurl}}assets/img/bg-gallery-center.jpg">
    <figcaption class="gallery-item--text gallery-item--orange">
      <div class="gallery-item--headline">
        <strong>Product Design</strong>
        <p>Prototypes, Integration, Web Engineering, UI</p>
      </div>
    </figcaption>
  </figure>
  <figure class="gallery-item gallery-item--hero">
    <img src="{{page.baseurl}}assets/img/bg-gallery-right.jpg">
    <figcaption class="gallery-item--text gallery-item--blue">
      <div class="gallery-item--headline">
        <strong>Product Development</strong>
        <p>Cloud, Web, Digital, Enterprise</p>
      </div>
    </figcaption>
  </figure>
</div>