<div class="gallery desktop-col1-3 tablet-col1-3 mobile-col1-1">
  <figure class="gallery-item gallery-item-hero">
    <img src="{{page.baseurl}}public/img/bg-gallery-left.jpg" alt="Product Management">
    <figcaption class="gallery-item-text">
      <div class="gallery-item-headline">
        <strong>Product Management</strong>
        <p>Strategy, Technical, Marketing, Analysis</p>
      </div>
    </figcaption>
  </figure>
  <figure class="gallery-item gallery-item-hero">
    <img src="{{page.baseurl}}public/img/bg-gallery-center.jpg" alt="Product Design">
    <figcaption class="gallery-item-text">
      <div class="gallery-item-headline">
        <strong>Front-End Design</strong>
        <p>Prototypes, Integration, Web Engineering, UI</p>
      </div>
    </figcaption>
  </figure>
  <figure class="gallery-item gallery-item-hero">
    <img src="{{page.baseurl}}public/img/bg-gallery-right.jpg" alt="Product Development">
    <figcaption class="gallery-item-text">
      <div class="gallery-item-headline">
        <strong>Product Development</strong>
        <p>Cloud, Web, Digital, Enterprise</p>
      </div>
    </figcaption>
  </figure>
</div>
