<section class="u-padding-removed" id="references">
  <div id="anchor4"></div>
  <div class="blockquote-container">
    <div class="blockquote-wrapper">
      <div class="blockquote-flexslider">
        <blockquote class="blockquote-slide"> <!-- quote -->
          <p><q>Michael is the type of resource that every Product Marketing person wish they had. Not only does he master all technical areas under his responsibility, he has this unique capacity to relate how things work in a simple, non-technical way that speaks clearly to the end-user. Michael also showed his capacity to lead product-related projects, and played a key role in the success of many product launches.</q></p>
          <p><span>Director, Business Development @ Alfresco</span></p>
        </blockquote>
        <blockquote class="blockquote-slide"> <!-- quote -->
          <p><q>Michael is truly innovative and creative in all that he accomplishes. Several times here he established a new benchmark for how things should be done. He is very methodical in the way he approaches problems and goes about to fully understand something before rushing to judgment.</q></p>
          <p><span>Director, Product Engineering @ Neopost USA</span></p>
        </blockquote>
        <blockquote class="blockquote-slide"> <!-- quote -->
          <p><q>I could always count on Michael to provide me with a thorough and realistic project plan that allowed me to manage go-to-market efforts. I relied on his guidance to determine feature priorities, trade-offs and workload estimates. With his knowledge, experience and strong work ethic, Michael will be a valuable asset to any team.</q></p>
          <p><span>Senior Director, Marketing @ Neopost USA</span></p>
        </blockquote>
        <blockquote class="blockquote-slide"> <!-- quote -->
          <p><q>I had a chance to work on a variety of projects that were ultimately successful due to Michael's hard work and attentiveness. He worked very closely with our team to ensure the work could be accomplished on time. He also does a fantastic job at conveying exactly what the customer wants.</q></p>
          <p><span>Senior Engineer, Quality @ Sailpoint</span></p>
        </blockquote>
        <blockquote class="blockquote-slide"> <!-- quote -->
          <p><q>Michael is thorough and conscientious, with a well-organized approach to every task he undertakes and doesn't quit until the jobs done right. The knowledge Michael has in the field has proven to be invaluable to Development as we develop new products and features. He consistently makes sure that a release has been thoroughly tested before giving it his stamp of approval.</q></p>
          <p><span>Project Manager @ Ticom Geomatics</span></p>
        </blockquote>
      </div>
    </div>
    <div class="blockquote-overlay"></div>
  </div>
</section>