{% include modals/products.html %} <!-- modal insert -->
<section class="u-section--darken" id="works" role="main">
  <div id="section6"></div>
  <div class="container">
    <div class="col1-1 u-text--center">
      <h2>Works</h2>
    </div>
    <div class="col1-1">
      <p class="lead">
        <q>Success is not delivering a feature. Success is learning how to solve the customer's problem.</q></p>
    </div>
  </div>
  <div class="gallery desktop-col1-3 tablet-col1-3 mobile-col1-1">
  <!-- Row #1 -->
    <figure class="gallery-item" data-toggle="modal" data-target="#aod">
      <img src="{{page.baseurl}}assets/img/bg-products-fig1.jpg">
      <figcaption class="gallery-item--text gallery-item--darken">
        <div class="gallery-item--headline">
          <strong>{{site.data.products.aod.title}}</strong>
          <p>{{site.data.products.aod.categories}}</p>
        </div>
      </figcaption>
    </figure>
    <figure class="gallery-item" data-toggle="modal" data-target="#chef-openstack">
      <img src="{{page.baseurl}}assets/img/bg-products-fig2.jpg">
      <figcaption class="gallery-item--text gallery-item--darken">
        <div class="gallery-item--headline">
          <strong>{{site.data.products.chef-openstack.title}}</strong>
          <p>{{site.data.products.chef-openstack.categories}}</p>
        </div>
      </figcaption>
    </figure>
    <figure class="gallery-item" data-toggle="modal" data-target="#cloudant">
      <img src="{{page.baseurl}}assets/img/bg-products-fig3.jpg">
      <figcaption class="gallery-item--text gallery-item--darken">
        <div class="gallery-item--headline">
          <strong>{{site.data.products.cloudant.title}}</strong>
          <p>{{site.data.products.cloudant.categories}}</p>
        </div>
      </figcaption>
    </figure>
  </div>
  <div class="gallery desktop-col1-3 tablet-col1-3 mobile-col1-1">
  <!-- Row #2 -->
    <figure class="gallery-item" data-toggle="modal" data-target="#imeter">
      <img src="{{page.baseurl}}assets/img/bg-products-fig3.jpg">
      <figcaption class="gallery-item--text gallery-item--darken">
        <div class="gallery-item--headline">
          <strong>{{site.data.products.imeter.title}}</strong>
          <p>{{site.data.products.imeter.categories}}</p>
        </div>
      </figcaption>
    </figure>
    <figure class="gallery-item" data-toggle="modal" data-target="#jumpgate">
      <img src="{{page.baseurl}}assets/img/bg-products-fig1.jpg">
      <figcaption class="gallery-item--text gallery-item--darken">
        <div class="gallery-item--headline">
          <strong>{{site.data.products.jumpgate.title}}</strong>
          <p>{{site.data.products.jumpgate.categories}}</p>
        </div>
      </figcaption>
    </figure>
    <figure class="gallery-item" data-toggle="modal" data-target="#message-queue">
      <img src="{{page.baseurl}}assets/img/bg-products-fig2.jpg">
      <figcaption class="gallery-item--text gallery-item--darken">
        <div class="gallery-item--headline">
          <strong>{{site.data.products.message-queue.title}}</strong>
          <p>{{site.data.products.message-queue.categories}}</p>
        </div>
      </figcaption>
    </figure>
  </div>
  <div class="gallery desktop-col1-3 tablet-col1-3 mobile-col1-1">
  <!-- Row #3 -->
    <figure class="gallery-item" data-toggle="modal" data-target="#open-cloud">
      <img src="{{page.baseurl}}assets/img/bg-products-fig2.jpg">
      <figcaption class="gallery-item--text gallery-item--darken">
        <div class="gallery-item--headline">
          <strong>{{site.data.products.open-cloud.title}}</strong>
          <p>{{site.data.products.open-cloud.categories}}</p>
        </div>
      </figcaption>
    </figure>
    <figure class="gallery-item" data-toggle="modal" data-target="#postal-accountant">
      <img src="{{page.baseurl}}assets/img/bg-products-fig3.jpg">
      <figcaption class="gallery-item--text gallery-item--darken">
        <div class="gallery-item--headline">
          <strong>{{site.data.products.postal-accountant.title}}</strong>
          <p>{{site.data.products.postal-accountant.categories}}</p>
        </div>
      </figcaption>
    </figure>
    <figure class="gallery-item" data-toggle="modal" data-target="#cloud-tracker">
      <img src="{{page.baseurl}}assets/img/bg-products-fig1.jpg">
      <figcaption class="gallery-item--text gallery-item--darken">
        <div class="gallery-item--headline">
          <strong>{{site.data.products.cloud-tracker.title}}</strong>
          <p>{{site.data.products.cloud-tracker.categories}}</p>
        </div>
      </figcaption>
    </figure>
  </div>
</section>
