<div class="modal fade" id="aod" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>{{site.data.products.aod.title}}</h4>
        <p class="modal-tagline">{{site.data.products.aod.categories}}</p>
        <p class="modal-date">Mar 2014 &dash; Jun 2014</p>
        <p class="modal-paragraph">A convergence of CDN, Deep Storage, and Transcoding into an Infrastructure Media Service for SoftLayer. Consists of a packet-shaping interface to enable optimal operation in digital, cross channel ecosystems. Built to reduce operating expenses for events, conferences, and shows. Includes the ability to rapidly ingest, transcode, QC, edit, post, and play out media on streaming platforms.</p>
        <p><a class="btn btn-blue" href="{{page.baseurl}}public/docs/Product-Brief-AOD.pdf" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>
