<div class="modal fade" id="message-queue" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>{{site.data.products.message-queue.title}}</h4>
        <p class="modal-tagline">{{site.data.products.message-queue.categories}}</p>
        <p class="modal-date">Sep 2012 &dash; Mar 2013</p>
        <p class="modal-paragraph">Message broker middleware for creating applications with scalable, cost-effective messaging and notification. Provides a secure message view and editable queues directly from SoftLayer's Customer Portal. Includes a full-featured REST API and language bindings for Ruby, Python, Java, and PHP.</p>
        <p><a class="btn btn-blue" href="//www.softlayer.com/message-queue" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>
