<div class="modal fade" id="postal-accountant" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>{{site.data.products.postal-accountant.title}}</h4>
        <p class="modal-tagline">{{site.data.products.postal-accountant.categories}}</p>
        <p class="modal-date">Dec 2007 &dash; Aug 2008</p>
        <p class="modal-paragraph">Comprehensive analytics platform with built-in monitoring and tracking for controlling expenses. Designed to aggregate data stores and capture detailed, real-time expenditures for reporting. Includes a web-based dashboard and reporting engine. Provides customers with the means to cut operating expenses by up to 40% and relieve budget constraints.</p>
        <p><a class="btn btn-blue" href="{{page.baseurl}}public/docs/Product-Brief-PA.pdf" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>
