<div class="modal fade" id="private-cloud" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>{{site.data.products.private-cloud.title}}</h4>
        <p class="modal-tagline">{{site.data.products.private-cloud.categories}}</p>
        <p class="modal-date">Jan 2015 &dash; Sep 2015</p>
        <p class="modal-paragraph">Dedicated, high-performing bare-metal servers housed in global data centers. Built on open standards to support the flexibility and portability of enterprise workloads. Designed for compliance, availability, security and 99.95% uptime. Includes an isolated physical infrastructure for compute, storage, network gateways and VPN connections with encrypted tunneling.</p>
        <p><a class="btn btn-blue" href="//open.ibmcloud.com/index.html" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>
