<!-- aod -->
<div class="modal fade" id="aod" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>{{site.data.products.aod.title}}</h4>
        <p class="modal-tagline">{{site.data.products.aod.categories}}</p>
        <p class="modal-date">Mar 2014 &dash; Jun 2014</p>
        <p class="modal-paragraph">A convergence of CDN, Deep Storage, and Transcoding into an Infrastructure Media Service for SoftLayer. Consists of a packet-shaping interface to enable optimal operation in digital, cross channel ecosystems. Built to reduce operating expenses for events, conferences, and shows. Includes the ability to rapidly ingest, transcode, QC, edit, post, and play out media on streaming platforms.</p>
        <p><a class="btn btn-blue" href="{{page.baseurl}}public/docs/Product-Brief-AOD.pdf" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>

<!-- chef-openstack -->
<div class="modal fade" id="chef-openstack" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>{{site.data.products.chef-openstack.title}}</h4>
        <p class="modal-tagline">{{site.data.products.chef-openstack.categories}}</p>
        <p class="modal-date">Sep 2013 &dash; Jan 2014</p>
        <p class="modal-paragraph">Opscode Chef recipes designed to harness bare-metal and virtual servers. Able to deploy and scale an OpenStack cloud to hundreds of nodes. Includes scripts to rapidly prototype and sandbox using Vagrant and Virtual Box.</p>
        <p><a class="btn btn-blue" href="//blog.softlayer.com/2014/simplified-openstack-deployment-softlayer" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>

<!-- cloudant -->
<div class="modal fade" id="cloudant" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>{{site.data.products.cloudant.title}}</h4>
        <p class="modal-tagline">{{site.data.products.cloudant.categories}}</p>
        <p class="modal-date">Apr 2014 &dash; Aug 2014</p>
        <p class="modal-paragraph">Scalable, always-on NoSQL cloud database service. Provides access to JSON data and attachments from SoftLayer's API. Built as a lightweight scaffold for provisioning quickly and reducing data access latency. Features includes high availability, data replication and sync, and geo-load balancing.</p>
        <p><a class="btn btn-blue" href="//www.softlayer.com/info/cloudant" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>

<!-- imeter-->
<div class="modal fade" id="imeter" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>{{site.data.products.imeter.title}}</h4>
        <p class="modal-tagline">{{site.data.products.imeter.categories}}</p>
        <p class="modal-date">Mar 2011 &dash; Sep 2011</p>
        <p class="modal-paragraph">Storefront for purchasing and activating Internet-enabled apps on smart devices. Built as an expandable suite of products to increase software attachment rates and control spending on development. Includes apps for metering, remote diagnostics, funding, accounting, usage, and back-office services.</p>
        <p><a class="btn btn-blue" href="//www.neopostusa.com/postage-meters-software/imeter-apps" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>

<!-- jumpgate -->
<div class="modal fade" id="jumpgate" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>{{site.data.products.jumpgate.title}}</h4>
        <p class="modal-tagline">{{site.data.products.jumpgate.categories}}</p>
        <p class="modal-date">Nov 2013 &dash; Feb 2014</p>
        <p class="modal-paragraph">Fabricated Python drivers designed to make OpenStack's API compatible with any public and private cloud provider. Built as a compatibility layer to translate incoming OpenStack calls into API calls for dissimilar clouds. Includes a WSGI-compatible interface to support nginx, Apache, gunicorn and uwsgi.</p>
        <p><a class="btn btn-blue" href="//blog.softlayer.com/2014/building-bridge-openstack-api" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>

<!-- mq -->
<div class="modal fade" id="message-queue" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>{{site.data.products.message-queue.title}}</h4>
        <p class="modal-tagline">{{site.data.products.message-queue.categories}}</p>
        <p class="modal-date">Sep 2012 &dash; Mar 2013</p>
        <p class="modal-paragraph">Message broker middleware for creating applications with scalable, cost-effective messaging and notification. Provides a secure message view and editable queues directly from SoftLayer's Customer Portal. Includes a full-featured REST API and language bindings for Ruby, Python, Java, and PHP.</p>
        <p><a class="btn btn-blue" href="//www.softlayer.com/message-queue" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>

<!-- postal accountant -->
<div class="modal fade" id="postal-accountant" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>{{site.data.products.postal-accountant.title}}</h4>
        <p class="modal-tagline">{{site.data.products.postal-accountant.categories}}</p>
        <p class="modal-date">Dec 2007 &dash; Aug 2008</p>
        <p class="modal-paragraph">Comprehensive analytics platform with built-in monitoring and tracking for controlling expenses. Designed to aggregate data stores and capture detailed, real-time expenditures for reporting. Includes a web-based dashboard and reporting engine. Provides customers with the means to cut operating expenses by up to 40% and relieve budget constraints.</p>
        <p><a class="btn btn-blue" href="{{page.baseurl}}public/docs/Product-Brief-PA.pdf" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>

<!-- private cloud -->
<div class="modal fade" id="private-cloud" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>{{site.data.products.private-cloud.title}}</h4>
        <p class="modal-tagline">{{site.data.products.private-cloud.categories}}</p>
        <p class="modal-date">Jan 2015 &dash; Sep 2015</p>
        <p class="modal-paragraph">Dedicated, high-performing bare-metal servers housed in global data centers. Built on open standards to support the flexibility and portability of enterprise workloads. Designed for compliance, availability, security and 99.95% uptime. Includes an isolated physical infrastructure for compute, storage, network gateways and VPN connections with encrypted tunneling.</p>
        <p><a class="btn btn-blue" href="//open.ibmcloud.com/index.html" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>

<!-- siebel -->
<div class="modal fade" id="siebel" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>{{site.data.products.siebel.title}}</h4>
        <p class="modal-tagline">{{site.data.products.siebel.categories}}</p>
        <p class="modal-date">Jan 2005 &dash; Jul 2007</p>
        <p class="modal-paragraph">CRM application with packages for Sales, Marketing, Commerce, and Help Desk. Built to overhaul, govern, and converge outdated line-of-business programs into one comprehensive foundation. Provides a secure data platform for ingesting, staging, and accessing records from a number of data sources.</p>
        <p><a class="btn btn-blue" href="//www.oracle.com/us/products/applications/siebel/overview/index.html" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>