<!-- aod -->
<div class="modal fade" id="aod" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close" role="button">&times;</button>
      </div>
      <div class="modal-body">
        <h3>{{site.data.products.aod.title}}</h3>
        <p class="modal-tagline">{{site.data.products.aod.categories}}</p>
        <p class="modal-date">Mar 2014 &dash; Jun 2014</p>
        <p class="modal-paragraph">Collaborated with the London IBM Media Services team and business partners, Aspera, to build and launch an "Infrastructure Media Service" for SoftLayer. Built on Direct-to-Cloud transport and object storage, AOD included additional CDN, Deep Storage, and Transcoding components and functioned as a packet-shaping interface to enable optimal operation in digital, cross channel ecosystems. Core features included the ability to rapidly ingest, transcode, QC, edit, post, and play out media on streaming platforms. The overarching vision for AOD was to leverage SoftLayer's bare-metal servers to reduce operating expenses for IBM sponsored events.</p>
        <p><a class="button button-color--default" href="{{page.baseurl}}assets/docs/Product-Brief-AOD.pdf" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>

<!-- chef-openstack -->
<div class="modal fade" id="chef-openstack" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close" role="button">&times;</button>
      </div>
      <div class="modal-body">
        <h3>{{site.data.products.chef-openstack.title}}</h3>
        <p class="modal-tagline">{{site.data.products.chef-openstack.categories}}</p>
        <p class="modal-date">Sep 2013 &dash; Jan 2014</p>
        <p class="modal-paragraph">As a member of the Product Innovation team, we designed, developed, and launched the open source Chef OpenStack initiative, a series of Opscode/Chef recipes designed to harness bare-metal and virtual servers. Designed as a DevOps tool, this service provided scripts to rapidly prototype and sandbox OpenStack using Vagrant. The vision for Chef OpenStack was to provide customers with the means to deploy and scale an OpenStack cloud to hundreds of nodes.</p>
        <p><a class="button button-color--default" href="//blog.softlayer.com/2014/simplified-openstack-deployment-softlayer" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>

<!-- cloudant -->
<div class="modal fade" id="cloudant" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close" role="button">&times;</button>
      </div>
      <div class="modal-body">
        <h3>{{site.data.products.cloudant.title}}</h3>
        <p class="modal-tagline">{{site.data.products.cloudant.categories}}</p>
        <p class="modal-date">Apr 2014 &dash; Aug 2014</p>
        <p class="modal-paragraph">Elicited IBM business partner, Cloudant, to incorporate their scalable, always-on NoSQL cloud database service on SoftLayer's platform. The intent was to provide customers with a lightweight scaffold to provision Cloudant quickly and reduce data access latency by opening up access to JSON data and attachments from SoftLayer's API. Features included high availability, data replication and sync, and geo-load balancing.</p>
        <p><a class="button button-color--default" href="//www.softlayer.com/info/cloudant" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>

<!-- cloud-tracker -->
<div class="modal fade" id="cloud-tracker" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close" role="button">&times;</button>
      </div>
      <div class="modal-body">
        <h3>{{site.data.products.cloud-tracker.title}}</h3>
        <p class="modal-tagline">{{site.data.products.cloud-tracker.categories}}</p>
        <p class="modal-date">Nov 2015 &dash; Apr 2016</p>
        <p class="modal-paragraph">Monitoring service for Cloud Foundational Services. Designed to capture and record events across all Bluemix runtime services. Included a Kibana UI management console for delivering operational metrics and detecting unauthorized access, as well as an Elasticsearch data repository for rapid event filtering. The overarching vision for Cloud Tracker was to help security teams gain visibility into their cloud ecosystems to detect and investigate anomalies, possible security breaches, and unauthorized access.</p>
        <p><a class="button button-color--default" href="//console-regional.ng.bluemix.net/catalog/services/activity-tracker" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>

<!-- imeter-->
<div class="modal fade" id="imeter" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close" role="button">&times;</button>
      </div>
      <div class="modal-body">
        <h3>{{site.data.products.imeter.title}}</h3>
        <p class="modal-tagline">{{site.data.products.imeter.categories}}</p>
        <p class="modal-date">Mar 2011 &dash; Sep 2011</p>
        <p class="modal-paragraph">Facilitated teams in France and US to refactor, consolidate, design, and launch iMeter, a storefront for purchasing and activating Internet-enabled apps on smart devices. The overall vision was to provide an expandable suite of products designed to increase software attachment rates and control spending on development. iMeter included apps for metering, remote diagnostics, funding, accounting, usage, and back-office services.</p>
        <p><a class="button button-color--default" href="//www.neopostusa.com/postage-meters-software/imeter-apps" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>

<!-- jumpgate -->
<div class="modal fade" id="jumpgate" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close" role="button">&times;</button>
      </div>
      <div class="modal-body">
        <h3>{{site.data.products.jumpgate.title}}</h3>
        <p class="modal-tagline">{{site.data.products.jumpgate.categories}}</p>
        <p class="modal-date">Nov 2013 &dash; Feb 2014</p>
        <p class="modal-paragraph">As a member of the Product Innovation team, we designed, developed, and launched Jumpgate-as-a-Service, fabricated Python drivers designed to make OpenStack's API compatible with any public and private cloud provider. The overarching intent for JaaS was to provide customers with a compatibility layer that translated incoming OpenStack calls into API calls from dissimilar clouds. Designed as an open source service, it included a WSGI-compatible interface to support nginx, Apache, gunicorn, and uwsgi.</p>
        <p><a class="button button-color--default" href="//blog.softlayer.com/2014/building-bridge-openstack-api" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>

<!-- mq -->
<div class="modal fade" id="message-queue" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close" role="button">&times;</button>
      </div>
      <div class="modal-body">
        <h3>{{site.data.products.message-queue.title}}</h3>
        <p class="modal-tagline">{{site.data.products.message-queue.categories}}</p>
        <p class="modal-date">Sep 2012 &dash; Mar 2013</p>
        <p class="modal-paragraph">Collaborated with RabbitMQ to launch a middleware service for creating applications with scalable, cost-effective messaging and notification. The vision for MQ was to provide customers with a secure message view and editable queues directly from SoftLayer's Customer Portal, with the intent of extending its use to leverage our Microservices landscape. It included a full-featured REST API and language bindings for Ruby, Python, Java, and PHP.</p>
        <p><a class="button button-color--default" href="//www.softlayer.com/message-queue" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>

<!-- open cloud -->
<div class="modal fade" id="open-cloud" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close" role="button">&times;</button>
      </div>
      <div class="modal-body">
        <h3>{{site.data.products.open-cloud.title}}</h3>
        <p class="modal-tagline">{{site.data.products.open-cloud.categories}}</p>
        <p class="modal-date">Jan 2015 &dash; Sep 2015</p>
        <p class="modal-paragraph">Presided over five products teams to design, develop, and implement dedicated, high-performing bare-metal Private Clouds for OpenStack in global data centers. Product teams spanned individual pillars across the overarching platform: Compute, Networking, Storage, Security, and Applications. These clouds were built on open standards to support the flexibility and portability of enterprise workloads, as well as compliance, availability, security, and 99.95% uptime. They included an isolated physical infrastructure for compute, storage, network gateways, and VPN connections with encrypted tunneling.</p>
        <p><a class="button button-color--default" href="//www.ibm.com/cloud-computing/solutions/open-cloud" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>

<!-- postal accountant -->
<div class="modal fade" id="postal-accountant" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close" role="button">&times;</button>
      </div>
      <div class="modal-body">
        <h3>{{site.data.products.postal-accountant.title}}</h3>
        <p class="modal-tagline">{{site.data.products.postal-accountant.categories}}</p>
        <p class="modal-date">Dec 2007 &dash; Aug 2008</p>
        <p class="modal-paragraph">Synced with French business partners, Technodiva, to create the dual-branded Fusion product line. One such product, Postal Accountant, evolved into a comprehensive analytics platform with built-in monitoring and tracking for controlling expenses. It aggregated data stores and captured detailed, real-time expenditures for reporting. Features include a web-based dashboard and robust reporting engine. The overarching vision was to provide customers with the means to cut operating expenses up to 40% and relieve budget constraints.</p>
        <p><a class="button button-color--default" href="{{page.baseurl}}assets/docs/Product-Brief-PA.pdf" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>

<!-- siebel -->
<div class="modal fade" id="siebel" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close" role="button">&times;</button>
      </div>
      <div class="modal-body">
        <h3>{{site.data.products.siebel.title}}</h3>
        <p class="modal-tagline">{{site.data.products.siebel.categories}}</p>
        <p class="modal-date">Jan 2005 &dash; Jul 2007</p>
        <p class="modal-paragraph">Siebel was a global project aimed at launching a CRM application with built-in packages for Sales, Marketing, Commerce, and Help Desk. The intent was to overhaul, govern, and converge outdated line-of-business programs into one comprehensive foundation. It provided a secure data platform for ingesting, staging, and accessing records from a number of data sources.</p>
        <p><a class="button button-color--default" href="//www.oracle.com/us/products/applications/siebel/overview/index.html" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>