<div class="modal fade" id="resume" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h3>Resume</h3>
        <p class="modal-tagline modal-tagline--resume">Select a format.</p>
        <p>
          <a class="button button-transparent--default u-text-decoration-hidden u-width--min" href="{{page.baseurl}}assets/docs/Michael-ORourke-Resume.pdf" target="_blank">PDF</a>
          <a class="button button-transparent--default u-text-decoration-hidden u-width--min" href="{{page.baseurl}}assets/docs/Michael-ORourke-Resume.txt" target="_blank">TXT</a>
        </p>
      </div>
    </div>
  </div>
</div>
