<div class="modal fade" id="siebel" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>{{site.data.products.siebel.title}}</h4>
        <p class="modal-tagline">{{site.data.products.siebel.categories}}</p>
        <p class="modal-date">Jan 2005 &dash; Jul 2007</p>
        <p class="modal-paragraph">CRM application with packages for Sales, Marketing, Commerce, and Help Desk. Built to overhaul, govern, and converge outdated line-of-business programs into one comprehensive foundation. Provides a secure data platform for ingesting, staging, and accessing records from a number of data sources.</p>
        <p><a class="btn btn-blue" href="//www.oracle.com/us/products/applications/siebel/overview/index.html" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>
