<div class="modal fade" id="chef-openstack" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>{{site.data.products.chef-openstack.title}}</h4>
        <p class="modal-tagline">{{site.data.products.chef-openstack.categories}}</p>
        <p class="modal-date">Sep 2013 &dash; Jan 2014</p>
        <p class="modal-paragraph">Opscode Chef recipes designed to harness our bare-metal and virtual servers. Able to deploy and scale an OpenStack cloud to hundreds of nodes. Includes scripts to rapidly prototype and sandbox using Vagrant and Virtual Box.</p>
        <p><a class="btn btn-blue" href="//blog.softlayer.com/2014/simplified-openstack-deployment-softlayer" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>
