<div class="modal fade" id="cloudant" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>{{site.data.products.cloudant.title}}</h4>
        <p class="modal-tagline">{{site.data.products.cloudant.categories}}</p>
        <p class="modal-date">Apr 2014 &dash; Aug 2014</p>
        <p class="modal-paragraph">Scalable, always-on NoSQL cloud database service. Provides access to JSON data and attachments from SoftLayer's API. Built as a lightweight scaffold for provisioning quickly and reducing data access latency. Features includes high availability, data replication and sync, and geo-load balancing.</p>
        <p><a class="btn btn-blue" href="//www.softlayer.com/info/cloudant" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>
