<div class="modal fade" id="jumpgate" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>{{site.data.products.jumpgate.title}}</h4>
        <p class="modal-tagline">{{site.data.products.jumpgate.categories}}</p>
        <p class="modal-date">Nov 2013 &dash; Feb 2014</p>
        <p class="modal-paragraph">Fabricated Python drivers designed to make OpenStack's API compatible with any public and private cloud provider. Built as a compatibility layer to translate incoming OpenStack calls into API calls for dissimilar clouds. Includes a WSGI-compatible interface to support nginx, Apache, gunicorn and uwsgi.</p>
        <p><a class="btn btn-blue" href="//blog.softlayer.com/2014/building-bridge-openstack-api" target="_blank">Read More</a></p>
      </div>
    </div>
  </div>
</div>
