<footer>
  <div class="container">
    <p>
      <span class="small u-pull-left">&copy; {{site.time | date: "%Y"}} {{site.title}}. All Rights Reserved.</span>
      <span class="small u-pull-right u-hidden-tablet">Connect with me.&nbsp;&nbsp;&nbsp;
        <a class="footer-icon fa fa-envelope" href="{{site.data.contact.emailto}}"></a>
        <a class="footer-icon fa fa-git" href="{{site.data.contact.github}}" target="_blank"></a>
        <a class="footer-icon fa fa-linkedin" href="{{site.data.contact.linkedin}}" target="_blank"></a>
        <a class="footer-icon fa fa-twitter" href="{{site.data.contact.twitter}}" target="_blank"></a>
      </span>
    </p>
  </div>
</footer>