<!-- Modals -->
{% include modals/contact.html %}

<header>
  <div class="nav-logo">
    <a class="nav-top" href="#hero"><img src="{{page.baseurl}}public/img/nav-logo.png" width="43" height="45"></a>
  </div>
  <div class="nav-tagline"><span>{{site.tagline}}</span></div>
  <div class="nav-btn">
    <span class="nav-bar"></span>
    <span class="nav-bar"></span>
    <span class="nav-bar"></span>
  </div>
  <nav>
    <ul class="nav-menu">
      <li class="active"><a href="#about">About</a>
        <div class="nav-menu-line">....</div>
      </li>
      <li><a href="#experience">Experience</a>
        <div class="nav-menu-line">....</div>
      </li>
      <li><a href="#references">References</a>
        <div class="nav-menu-line">....</div>
      </li>
      <li><a href="#education">Education</a>
        <div class="nav-menu-line">....</div>
      </li>
      <li><a href="#products">Products</a>
        <div class="nav-menu-line">....</div>
      </li>
      <li><a href="#skills">Skills</a>
        <div class="nav-menu-line">....</div>
      </li>
      <li><a class="contact" data-toggle="modal" data-target="#contact">Contact</a>
        <div class="nav-menu-line">....</div>
      </li>
    </ul>
  </nav>
</header>
