{% include modals/contact.html %} <!-- liquid tag insert -->
<header class="nav-header">
  <div class="nav-logo">
    <a class="nav-top" href="#hero"><img src="{{page.baseurl}}public/img/nav-logo.png" width="45" height="45"></a>
  </div>
  <div class="nav-btn">
    <span class="nav-bar"></span>
    <span class="nav-bar"></span>
    <span class="nav-bar"></span>
  </div>
  <nav>
    <ul class="nav-menu">
      <li class="active"><a href="#about">About</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#testimonials">Testimonials</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#works">Works</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a class="contact" data-toggle="modal" data-target="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
